<%- contentFor('root') %>
    <!-- begin::Navbar -->
    <%- include('partials/navbar') %>
        <!-- end::Navbar -->
        <!-- begin::Error -->
        <div id="error" class="row my-5">
            <h1 class="mt-5 text-center">
                <%= stat %> Page Not Found
            </h1>
        </div>
        <!-- end::Error -->