<!-- begin::Navigation -->
<%- contentFor('navbar') %>
  <%- include('layouts/navbar') %>
    <!-- end::Navigation -->
    <!-- begin::Root -->
    <%- contentFor('root') %>
      <!-- begin::Root -->
      <div id="home" class="row">
        <div id="tittle" class="row my-5">
          <h1>
            <%= tittle %>
          </h1>
        </div>
      </div>
      <!-- end::Root -->