<%- contentFor('root') %>
  <!-- begin::Navbar -->
  <%- include('partials/navbar') %>
    <!-- end::Navbar -->
    <!-- begin::Content -->
    <div id="home" class="row mt-5">
      <div id="tittle" class="row my-5">
        <h1>
          <%= title %>
        </h1>
      </div>
    </div>
    <!-- end::Content -->